In [57]:
import pandas as pd
import numpy as np
import os

In [58]:
# Root directory containing your folders
root_dir = '../results/reject_inference/'

dfs = []

# Walk through all directories and subdirectories
for dirpath, dirnames, filenames in os.walk(root_dir):
    for filename in filenames:
        if filename.endswith('.csv'):
            file_path = os.path.join(dirpath, filename)
            df = pd.read_csv(file_path)
            dfs.append(df.T)

# Combine all DataFrames
combined_df = pd.concat(dfs, ignore_index=False)
combined_df = combined_df.rename(columns={0: "seed", 1: "auc", 2: "ar", 3: "kickout"})
#change to int
combined_df['seed'] = combined_df['seed'].astype(int)

combined_df = combined_df.set_index('seed', append=True)
combined_df

                                auc     ar  kickout
                        seed
BM                      45    0.715  0.929    0.000
aug_sc                  45    0.718  0.928   -0.001
aug_up                  45    0.712  0.926   -0.002
aug_down                45    0.719  0.934   -0.003
aug_fuzzy               45    0.682  0.871   -0.010
...                             ...    ...      ...
                        50    0.656  0.917    0.023
extrapolation-only_1    50    0.668  0.884    0.022
extrapolation-all       50    0.691  0.931    0.001
extrapolation-confident 50    0.706  0.941    0.025
ls                      50    0.702  0.946    0.028

[90 rows x 3 columns]

In [59]:
combined_df.groupby(level=[0]).mean()

                            auc      ar  kickout
BM                       0.7132  0.9393   0.0000
aug_down                 0.7129  0.9394   0.0060
aug_fuzzy                0.6751  0.8993   0.0052
aug_sc                   0.7139  0.9383   0.0027
aug_up                   0.7094  0.9344   0.0093
extrapolation-all        0.6973  0.9151   0.0070
extrapolation-confident  0.7122  0.9315   0.0142
extrapolation-only_1     0.6776  0.8756   0.0076
ls                       0.7048  0.9330   0.0217

In [60]:
# Root directory containing your folders
root_dir = '../results/reject_inference_old/'

dfs = []

# Walk through all directories and subdirectories
for dirpath, dirnames, filenames in os.walk(root_dir):
    for filename in filenames:
        if filename.endswith('.csv'):
            file_path = os.path.join(dirpath, filename)
            df = pd.read_csv(file_path)
            dfs.append(df.T)

# Combine all DataFrames
old_df = pd.concat(dfs, ignore_index=False)
old_df = old_df.rename(columns={0: "seed", 1: "auc", 2: "ar", 3: "kickout"})
#change to int
old_df['seed'] = old_df['seed'].astype(int)

old_df = old_df.set_index('seed', append=True)
old_df

             auc     ar  kickout
     seed
BM   45    0.715  0.929    0.000
A-SC 45    0.712  0.934    0.023
A-UW 45    0.718  0.929    0.010
A-DW 45    0.718  0.936    0.015
A-FU 45    0.696  0.892    0.002
...          ...    ...      ...
     50    0.675  0.930    0.017
E-B  50    0.682  0.915    0.009
E-A  50    0.703  0.936    0.001
E-C  50    0.713  0.951    0.008
LSP  50    0.709  0.948    0.028

[90 rows x 3 columns]

In [61]:
mean_new = combined_df.groupby(level=[0]).mean().sort_index()
method_to_abbr = {
    'BM': 'BM',
    'aug_down': 'A-DW',
    'aug_fuzzy': 'A-FU',
    'aug_sc': 'A-SC',
    'aug_up': 'A-UW',
    'extrapolation-all': 'E-A',
    'extrapolation-confident': 'E-C',
    'extrapolation-only_1': 'E-B',
    'ls': 'LSP'
}

# Assuming df is your DataFrame with the original index
# Rename the index using the mapping
mean_new = mean_new.rename(index=method_to_abbr)
mean_new.sort_index().round(3)

        auc     ar  kickout
A-DW  0.713  0.939    0.006
A-FU  0.675  0.899    0.005
A-SC  0.714  0.938    0.003
A-UW  0.709  0.934    0.009
BM    0.713  0.939    0.000
E-A   0.697  0.915    0.007
E-B   0.678  0.876    0.008
E-C   0.712  0.932    0.014
LSP   0.705  0.933    0.022

In [62]:
mean_old = old_df.groupby(level=[0]).mean().sort_index()
mean_old.sort_index().round(3)

        auc     ar  kickout
A-DW  0.716  0.942    0.034
A-FU  0.681  0.907    0.017
A-SC  0.710  0.938    0.053
A-UW  0.717  0.941    0.027
BM    0.713  0.939    0.000
E-A   0.707  0.925    0.016
E-B   0.683  0.889    0.016
E-C   0.718  0.938    0.019
LSP   0.711  0.935    0.034