In [2]:
import pandas as pd
import numpy as np
import os

In [27]:
# Root directory containing your folders
root_dir = '../results/reject_inference/'

dfs = []

# Walk through all directories and subdirectories
for dirpath, dirnames, filenames in os.walk(root_dir):
    for filename in filenames:
        if filename.endswith('.csv'):
            file_path = os.path.join(dirpath, filename)
            df = pd.read_csv(file_path)
            dfs.append(df.T)

# Combine all DataFrames
combined_df = pd.concat(dfs, ignore_index=False)
combined_df = combined_df.rename(columns={0: "seed", 1: "auc", 2: "ar", 3: "kickout"})
#change to int
combined_df['seed'] = combined_df['seed'].astype(int)

In [30]:
combined_df = combined_df.set_index('seed', append=True)
combined_df

                                auc     ar  kickout
                        seed
BM                      45    0.715  0.929    0.000
aug_sc                  45    0.718  0.928   -0.001
aug_up                  45    0.712  0.926   -0.002
aug_down                45    0.719  0.934   -0.003
aug_fuzzy               45    0.682  0.871   -0.010
...                             ...    ...      ...
                        50    0.656  0.917    0.023
extrapolation-only_1    50    0.668  0.884    0.022
extrapolation-all       50    0.691  0.931    0.001
extrapolation-confident 50    0.706  0.941    0.025
ls                      50    0.702  0.946    0.028

[90 rows x 3 columns]

In [35]:
combined_df.groupby(level=[0]).mean()

                            auc      ar  kickout
BM                       0.7132  0.9393   0.0000
aug_down                 0.7129  0.9394   0.0060
aug_fuzzy                0.6751  0.8993   0.0052
aug_sc                   0.7139  0.9383   0.0027
aug_up                   0.7094  0.9344   0.0093
extrapolation-all        0.6973  0.9151   0.0070
extrapolation-confident  0.7122  0.9315   0.0142
extrapolation-only_1     0.6776  0.8756   0.0076
ls                       0.7048  0.9330   0.0217